footer {
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 80px;;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background: linear-gradient(
      to right,
      #081145,
      #4153a5
    )
  }
  
  footer > img {
    height: 80%;
    margin-left: 2%;
    padding-right: 20px;
  }
  
  
  footer > h1 {
    color: rgb(205, 204, 248) ;
  }

  footer > h3 {
    color:rgb(216, 165, 72);
    padding-left: 100px;
  }