header {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  background: linear-gradient(
    to right,
    #081145,
    #4153a5
  )
}

header > img {
  height: 80%;
  margin-left: 2%;
  padding-right: 20px;
}


header > h1 {
  color: rgb(205, 204, 248) ;
}